  <button title="Tempo di registrazione" class="btn btn-link" > {{recordedTime}} </button>

  <span class="recording-dot">
    <clr-icon *ngIf="isRecording && !blobUrl" shape="circle" class="is-solid blink red"></clr-icon>
    <clr-icon *ngIf="!(isRecording && !blobUrl)" shape="circle" class="is-solid"></clr-icon>
  </span>

  <button title="Avvia nuova registrazione" class="btn" *ngIf="!isRecording && !blobUrl" (click)="startRecording()">
      <clr-icon shape="microphone" class="is-solid"></clr-icon>
  </button>
  <button title="Avvia nuova registrazione" class="btn" disabled *ngIf="!(!isRecording && !blobUrl)" (click)="startRecording()">
      <clr-icon shape="microphone" class="is-solid"></clr-icon>
  </button>

  <button title="Termina registrazione corrente" class="btn" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">
      <clr-icon shape="microphone-mute"></clr-icon>
  </button>
  <button title="Termina registrazione corrente" class="btn" disabled *ngIf="!(isRecording && !blobUrl)" (click)="stopRecording()">
      <clr-icon shape="microphone-mute"></clr-icon>
  </button>

  <button title="Riprendi la registrazione corrente" class="btn" *ngIf="isRecording && isPaused" (click)="resumeRecording()">
      <clr-icon shape="play" class="is-solid"></clr-icon>
  </button>
  <button title="Riprendi la registrazione corrente" class="btn" disabled *ngIf="!(isRecording && isPaused)" (click)="resumeRecording()">
      <clr-icon shape="play" class="is-solid"></clr-icon>
  </button>

  <button title="Metti in pausa la registrazione corrente" class="btn" *ngIf="isRecording && !isPaused" (click)="pauseRecording()">
      <clr-icon shape="pause" class="is-solid"></clr-icon>
  </button>
  <button title="Metti in pausa la registrazione corrente" class="btn" disabled *ngIf="!(isRecording && !isPaused)" (click)="pauseRecording()">
      <clr-icon shape="pause" class="is-solid"></clr-icon>
  </button>

  <button *ngIf="blobUrl" title="Elimina la registrazione corrente" class="btn btn-danger-outline" (click)="deleteAudioModal=true">
    <clr-icon shape="trash"></clr-icon>
  </button>

  <a *ngIf="blobUrl" title="Avvia il download del file audio con la registrazione corrente" [href]="blobUrl" [download]="blobName" class="btn btn-outline"><clr-icon shape="download"></clr-icon> File</a>

  <span *ngIf="blobUrl" class="vertical-align-middle">
    <audio controls download="nope.mp3" controlsList="nodownload">
      <source type="audio/mp3" [src]="blobUrl" type="audio/webm">
    </audio>
  </span>
  <span *ngIf="!(blobUrl || isRecording || isPaused || audioConverting || audioUploading)" class="vertical-align-middle">
    <button title="Nessuna registrazione" class="btn btn-link" >Nessuna registrazione</button>
  </span>

  <!--
  <button (click)="test()">GET audio</button>
  -->

  <!--
  <span> {{recordedTime}} </span>
  -->

  <div *ngIf="audioConverting" class="alert alert-warning" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon spin" shape="cog"></clr-icon>
              </div>
              <span class="alert-text">La registrazione è in elaborazione, si prega di attendere. Potrebbe volerci un po' di tempo, soprattutto in caso di registrazioni lunghe</span>
          </div>
      </div>
  </div>

  <div *ngIf="audioUploading" class="alert alert-info" role="alert">
      <div class="alert-items">
          <div class="alert-item static">
              <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon spin" shape="sync"></clr-icon>
              </div>
              <span class="alert-text">E' in corso il salvataggio della registrazione sul server. L'operazione potrebbe richiedere parecchio tempo.</span>
          </div>
      </div>
  </div>

  <clr-modal [(clrModalOpen)]="deleteAudioModal">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per eliminare il file audio relativo a questa intervista, la modifica non è reversibile. Sei sicuro di voler eliminare il file audio?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deleteAudioModal=false">Annulla</button>
        <button type="button" class="btn btn-warning" (click)="deleteRecordedData()"><clr-icon shape="trash"></clr-icon> Elimina file</button>
    </div>
</clr-modal>



