<!--
<button (click)="printExam()">stampa esame</button>
<button (click)="printData()">stampa dati</button>
-->
<div>
  <button (click)="saveData()" class="btn btn-primary"><clr-icon shape="floppy"></clr-icon>Salva dati</button>
</div>

<div *ngIf="loaded" class="grid">
  <ul *ngFor="let c of examData; index as i" class="col" [ngStyle]="{'background-color': palette[i]}">
    <li *ngFor="let item of c">
      <app-interview-item [itemid]="item.id" [active]="true" [ngClass]="{'hidden': !registration_on}"></app-interview-item>
    </li>
  </ul>
</div>

<div *ngIf="!loaded" [ngStyle]="{'margin': '0 auto','width':'100%','text-align':'center'}">
  <span class="spinner spinner-inline">
      Loading...
  </span>
  <span>
      Sto caricando i dati...
  </span>
</div>