<app-exam-navbar (saveEvent)="saveData()"></app-exam-navbar>
<!-- Audio Controls -->

<!--
<div>
  <span *ngIf="enabled" class="registration_on">
    <clr-icon shape="microphone" class="is-inverse" size="36" title="Registrazione in corso"></clr-icon>
  </span>
  <span *ngIf="!enabled">
    <clr-icon shape="microphone" size="36" title="Nessuna registrazione attiva"></clr-icon>
  </span>
  <button *ngIf="!enabled" (click)="startRecording()" class="btn btn-success-outline"><clr-icon shape="microphone"></clr-icon> Inizia registrazione</button>
  <button *ngIf="enabled" (click)="stopRecording()" class="btn btn-warning-outline"><clr-icon shape="microphone"></clr-icon> Ferma registrazione</button>
  <button (click)="saveData()" class="btn btn-primary"><clr-icon shape="floppy"></clr-icon> Salva dati</button>
  <button (click)="reset_data = true" class="btn btn-warning-outline"><clr-icon shape="history"></clr-icon> Reset di tutti i dati</button>
</div>
-->
<div class="clr-row">
  <div class="clr-col-8">
    <app-recording></app-recording>
  </div>
  <div class="clr-col-4" style="text-align: right;">
    <button (click)="saveData()" class="btn btn-primary"><clr-icon shape="floppy"></clr-icon> Salva dati</button>
    <button (click)="reset_data = true" class="btn btn-warning-outline"><clr-icon shape="history"></clr-icon> Reset di tutti i dati</button>
  </div>
</div>

<div *ngIf="loaded" class="grid">
  <ul *ngFor="let c of examData; index as i" class="col" [ngStyle]="{'background-color': palette[i]}">
    <li *ngFor="let item of c" [ngClass]="{inactive: !enabled}" class="interview-component">
      <app-interview-item [itemid]="item.id" [active]="enabled"></app-interview-item>
    </li>
  </ul>
</div>
<div *ngIf="!loaded" [ngStyle]="{'margin': '0 auto','width':'100%','text-align':'center'}">
  <span class="spinner spinner-inline">
      Loading...
  </span>
  <span>
      Sto caricando i dati...
  </span>
</div>

<clr-modal [(clrModalOpen)]="reset_data" >
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per resettare completamente i dati relativi a quest'intervista, l'azione non è reversibile. Sei sicuro?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="reset_data = false">Annulla</button>
        <button type="button" class="btn btn-warning" (click)="resetData(); reset_data = false">
          <clr-icon shape="history"></clr-icon> Si, resetta i dati
        </button>
    </div>
</clr-modal>