.clr-form-control {
  display: inline-block;
  text-align: center;
}

.interview-toolbar button,
.interview-toolbar .btn {
  margin: 0 1em !important;
}

.interview-toolbar>div,
.interview-toolbar>clr-toggle-container,
.interview-toolbar>button {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.interview-toolbar.right {
  text-align: right;
  padding-top: 0.3em;
}

.interview-component {
  cursor: pointer;
}

.interview-component.inactive {
  opacity: 0.5;
  cursor: not-allowed;
}

div.grid {
  display: flex;
  width: 100%
}

ul.col {
/*
  flex: 1;
  margin: 0;
  padding: 0;
  */
  width: 20%;
}

li {
  list-style-type: none;
}

.audio-bar, .saving-bar {
  width: 50%;
  margin: 0;
  float: left;
}

.saving-bar {
  text-align: right;
}

.saving-bar button {
  display: inline-block;
}

div.registration {
  width: 60px;
  height: 60px;
  padding: 6px;
  text-align: center;
  border-radius: 50%;
  float: left;
}

.registration.on {
  background-color: red;
}

.registration.off {
  background-color: grey;
}

div.microphone-control {
  clear: both;
}