<div id="main-nav" class="sidenav">
	<nav>
		<div class="sidebar-header">
			<h3>APACS - Interview</h3>
			<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
			<div>
				<h5>Benvenuto <a href="#">{{currentUser.username}}</a></h5>
				<a ng-reflect-router-link="/login" href="/login">Logout</a>
			</div>
		</div>
		<ul class="list-unstyled">
			<li class="nav-item" [routerLinkActive]="['active']" (click)="closeNav()">
				<a class="nav-link" [routerLink]="['home']">Home</a>
			</li>
			<h4>Esami</h4>
			<li *ngIf="selected" class="nav-item" [routerLinkActive]="['active']" (click)="closeNav()">
				<a class="nav-link" [routerLink]="['anagrafica']">Anagrafica</a>
			</li>
			<li *ngIf="selected" class="nav-item" [routerLinkActive]="['active']" (click)="closeNav()">
				<a class="nav-link" [routerLink]="['intervista']">Intervista</a>
			</li>
			<li *ngIf="selected" class="nav-item" [routerLinkActive]="['active']" (click)="closeNav()">
				<a class="nav-link" [routerLink]="['resume']">Resume</a>
			</li>
			<li *ngIf="selected" class="nav-item" [routerLinkActive]="['active']" (click)="closeNav()">
				<a class="nav-link" [routerLink]="['icone']">Lista icone</a>
			</li>
		</ul>
	</nav>
</div>
<div id="sidenav-external" (click)="closeNav()">
</div>

<div id="top-bar">
	<div id="sidebarCollapse">
		<fa-icon icon="bars" size="2x" (click)="openNav()"></fa-icon>
	</div>
</div>
