<div *ngIf="loaded" class="interview-item" (click)="onClickItem()">
  <div class="item-header">
    <span class="item-icon">
      <clr-icon [attr.shape]="item.icona"></clr-icon>
    </span>
    <span class="item-title">
      {{item.nome}}
    </span>
  </div>
  <div class="item-progress" [hidden]="!countable">
    <div class="progress-block">
      <label class="undo-button">
        <button class="" (click)="undo()">
          <clr-icon shape="undo"></clr-icon>
        </button>
      </label>
      <div class="progress labeled danger">
        <progress max="{{max}}" value="{{progress}}" data-displayval="0%"></progress>
        <span>{{progress}} / {{max}}</span>
      </div>
    </div>
  </div>

  <div class="item-slider" [hidden]="countable">
    <div class="progress-block">
      <label class="undo-button">
        <button class="" (click)="undo()">
          <clr-icon shape="undo"></clr-icon>
        </button>
      </label>
      <div class="bar">
        <input type="range" min="0" max="2" value="{{frequenza}}" class="slider" (change)="changeVal($event)">
        <div class="slider-label">
          <div class="left">M</div>
          <div class="center">QV</div>
          <div class="right">S</div>
        </div>
      </div>
    </div>
  </div>
</div>
