<div class="login-wrapper">
    <form class="login">
        <label class="title">
            <h3 class="welcome">Benvenuti in</h3>
            APACS
            <h5 class="hint">Utilizza le tue credenziali per accedere agli esami che hai effettuato, oppure registrati per ottenere un account.</h5>
        </label>
        <div class="login-group">
            <input class="username" name="username" type="text" id="login_username" placeholder="Username" [(ngModel)]="this.username">
            <input class="password" name="password" type="password" id="login_password" placeholder="Password" [(ngModel)]="this.password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Ricordami
                </label>
            </div>
            <div class="error active" [hidden]="!this.wrongCredential">
              Username o password non validi
            </div>
            <div class="error active" [hidden]="!this.missingCredential">
              Username o password mancanti
            </div>
            <div class="error active" [hidden]="!this.otherError">
              {{this.error}}
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">LOG IN</button>
            <a class="signup link-pointer" (click)="newUserModal = true">Registrati</a>
        </div>
    </form>
</div>

<clr-modal [(clrModalOpen)]="newUserModal" class="modal-dialog modal-xl">
  <h3 class="modal-title">Registrazione nuovo utente</h3>
  <div class="modal-body">
    <app-register-form></app-register-form>
  </div>
</clr-modal>