<header class="header header-4">
      <div class="branding">
        <span class="nav-link">
            <clr-icon shape="bug"></clr-icon>
            <span class="title">APACS - Valutazione</span>
        </span>
      </div>
      <div class="header-nav">

        <a href="javascript://" (click)="goTo('/editpatient')" [class.active]="isActive('/editpatient')" class="nav-link nav-text">Anagrafica</a>
        <a href="javascript://" (click)="goTo('/interview')" [class.active]="isActive('/interview')" class="nav-link nav-text">Intervista</a>
        <a href="javascript://" (click)="goTo('/resume')" [class.active]="isActive('/resume')" routerLinkActive="active" class="nav-link nav-text">Resume</a>

      </div>
      <div class="header-actions">
        <!--
        <a title="Esci dalla valutazione" href="javascript://" class="nav-link nav-text" (click)="openModal()" >
          <span>ESCI</span>
        </a>
      -->
        <a style="margin-right: -2rem;" title="Esci dalla valutazione corrente" href="javascript://" class="nav-link nav-text" (click)="openModal()" >
          <span class="exit-label" style="padding-right: 3rem;">ESCI</span> <clr-icon shape="times"></clr-icon> 
        </a>
      </div>

</header>

<clr-modal [(clrModalOpen)]="exitModal">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per uscire dalla valutazione. <span>Le ultime modifiche non saranno salvate, e l'eventuale registrazione in corso sarà terminata. Vuoi procedere?</span></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModal()">No, annulla</button>
        <button type="button" class="btn btn-danger" (click)="exit()">Esci senza salvare</button>
        <button type="button" class="btn btn-primary" (click)="saveExit()"><clr-icon shape="floppy"></clr-icon> Salva ed esci</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="switchModal">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per cambiare sezione della tua valutazione, ma alcune modifiche non sono state salvate. Vuoi salvarle?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeSwitchModal()">Annulla</button>
        <button type="button" class="btn btn-danger" (click)="ignoreEdit()">Non salvare</button>
        <button type="button" class="btn btn-primary" (click)="saveMove()"><clr-icon shape="floppy"></clr-icon> Salva</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="warningModal">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>&Egrave; in corso una registrazione. Prima di continuare devi interrompere la registrazione.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="warningModal=false">ok</button>
    </div>
</clr-modal>
