<navbar></navbar>
<p>
  Ciao <strong>{{username}}</strong>!
</p>
<p>
  Se ti trovi in quest'area significa che vuoi modificare un esame già sostenuto o crearne uno nuovo. L'esame è il seguente:
</p>
<ul>
  <li>nome paziente: {{actualPatient.Nome}} {{actualPatient.Cognome}}</li>
  <li>data esame: {{actualPatient.data}}</li>
  <li>punteggio: {{examScore}}</li>
</ul>
<p>
  Dati paziente: <strong>{{actualPatient}}</strong>
</p>


<h1>------</h1>
<h3>selectedExam</h3>
<p>{{selectedExam}}</p>

<h1>------</h1>
<h3>actualUser</h3>
<p>{{actualUser}}</p>

<h1>------</h1>
<h3>actualPatient</h3>
<p>{{actualPatient}}</p>
