div.left-text {
  width: 100%;
  text-align: left;
}

div.wrapper {
  padding: 1em;
}

div.form-group {
  padding: 0 1em;
}

div.form-clinico, div.form-personale, div.form-note  {
  width: 33%;
  float: left;
}

div.form-element {
  margin-bottom: 0.5em;
}

div.form-element label {
  width: 6em;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

div.form-element input, 
div.form-element select {
  width: calc(100% - 6em);
  display: inline-block;
  vertical-align: middle;
}

div.confirm-button {
  clear: both;
  width: 100%;
  text-align: right;
  padding: 0 2em;
}

div.form-esaminatore {
  width: 100%;
}

div.row {
  clear: both;
  width: 100%;
}

.alert-danger {
  padding: 0.5em !important;
  margin-left: 6em;
}

div.form-esaminatore .form-element {
  width: 50%;
  float: left;
}

div.form-esaminatore label {
  text-align: right;
  padding-right: 0.5em;
}

div.form-element input.form-number {
  width: 6em;
}

div.form-element input.form-radio {
  width: auto;
  margin-left: 2em;
}

div.form-element select.scolarita-select {
  width: calc(100% - 6em - 6em);
}

div.form-note label {
  width: auto;
}

.tooltip-span {
  padding: 1em;
}
/*


div.alert-danger {
  display: block;
  float: left;
  width: 100% !important;
}

*/