<button type="button" class="btn btn-icon btn-primary" title="Modifica il tuo profilo" (click)="createNewExam()">
    <clr-icon shape="plus"></clr-icon> Nuova Valutazione
</button>
<clr-datagrid [clrDgLoading]="loading">
    <clr-dg-column>ID valutazione</clr-dg-column>
    <clr-dg-column [clrDgField]="'patient.nome'">Nome Paziente
      <clr-dg-string-filter [clrDgStringFilter]="nameFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'patient.nome'">Cognome Paziente
      <clr-dg-string-filter [clrDgStringFilter]="surnameFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="defaultSort">Data
      <clr-dg-string-filter [clrDgStringFilter]="dateFilter"></clr-dg-string-filter>
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'score'">Punteggio</clr-dg-column>
    <clr-dg-column>Azioni</clr-dg-column>

    <clr-dg-row *clrDgItems="let exam of exams; let i=index">
        <clr-dg-cell>{{exam.id}}</clr-dg-cell>
        <clr-dg-cell>{{exam.patient.nome}}</clr-dg-cell>
        <clr-dg-cell>{{exam.patient.cognome}}</clr-dg-cell>
        <clr-dg-cell>{{exam.date | date:"dd/MM/yyyy"}}</clr-dg-cell>
        <clr-dg-cell>{{exam.score}}</clr-dg-cell>
        <clr-dg-cell>
          <button class="btn btn-success-outline btn-sm" (click)="redirectExam(exam.id, exam.patient.id)" title="Visualizza resoconto e PDF">
            <clr-icon shape="file"></clr-icon> pdf
          </button>
          <button class="btn btn-sm" (click)="editExam(exam.id, exam.patient.id)" title="Modifica questo esame">
            <clr-icon shape="pencil"></clr-icon> modifica
          </button>
          <!--
          <button class="btn btn-danger-outline btn-sm" (click)="delete_exam = true; new_id = exam.id" title="Elimina questo esame">
          -->
          <button class="btn btn-danger-outline btn-sm" (click)="openDeleteModal(exam.id)" title="Elimina questo esame">
          <!--<button class="btn btn-danger-outline btn-sm" (click)="deleteExam(exam.id)">-->
            <clr-icon shape="trash"></clr-icon> elimina
          </button>
          
        </clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Elementi per pagina</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            di {{pagination.totalItems}} esami.
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="delete_exam">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per eliminare la valutazione di <strong>{{this.patientName}}</strong>, l'azione non è reversibile. Sei sicuro?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="delete_exam = false">Annulla</button>
        <button type="button" class="btn btn-danger" (click)="deleteExam(desiredDeleteId); delete_exam = false"><clr-icon shape="trash"></clr-icon> Si, elimina</button>
    </div>
</clr-modal>