<div class="main-container">
    <header class="header header-4">
          <div class="branding">
            <a class="nav-link">
                <clr-icon shape="cursor-hand-click"></clr-icon>
                <span class="title">Modalità intervista</span>
            </a>
          </div>
          <div class="header-nav">
            <a [routerLink]="[{ outlets: { exam: ['editpatient'] } }]" outletName=[exam] routerLinkActive="active" class="nav-link nav-text">Anagrafica</a>
            <a [routerLink]="[{ outlets: { exam: ['interview'] } }]" outletName=[exam] routerLinkActive="active" class="nav-link nav-text">Intervista</a>
            <a [routerLink]="[{ outlets: { exam: ['resume'] } }]" outletName=[exam] routerLinkActive="active" class="nav-link nav-text">Resume</a>
          </div>
          <div class="header-actions">
            <a title="esci dalla modalità intervista" href="javascript://" class="nav-link nav-text" (click)="basic = true" >
              <span>esci dalla modalità intervista</span>
            </a>
            <a title="esci dalla modalità intervista" href="javascript://" class="nav-link nav-text" (click)="basic = true" >
              <clr-icon shape="times"></clr-icon> 
            </a>
          </div>

    </header>
    <div>
      <router-outlet name="exam"></router-outlet>
    </div>
</div>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p>Stai per uscire dalla modalità intervista, i dati non salvati andranno persi. Vuoi procedere?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">No, annulla</button>
        <button type="button" class="btn btn-primary" (click)="exit()">Si, esci</button>
    </div>
</clr-modal>
