<app-exam-navbar (saveEvent)="onSubmit()"></app-exam-navbar>
<!--<button (click)="print()">TEST</button>-->

<!--
  <button *ngIf="formIsChanged" type="button" class="btn btn-danger">CHANGED</button>
<alert-message *ngIf="!this.patientForm.valid" msg="I campi contrassegnati con * sono obbligatori"></alert-message>
-->
<form clrForm clrLayout="horizontal" [formGroup]="patientForm" class="clr-form clr-form-horizontal">
    <h2>Dati Valutazione</h2>
    <div class="clr-row">
      <div class="clr-col">
        <div class="form_group">
          <label>Esaminatore</label>
          <input type="text" formControlName="esaminatore" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.esaminatore.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.esaminatore.errors">
          <alert-message *ngIf="f.esaminatore.errors.required" msg="Il campo 'Esaminatore' è obbligatorio"></alert-message>
        </div>
      </div>

      <div class="clr-col">
        <div class="form_group">
          <label>Data</label>
          <input type="date" formControlName="data" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.data.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.data.errors">
          <alert-message *ngIf="f.data.errors.required" msg="Il campo 'Data' è obbligatorio"></alert-message>
        </div>
      </div>
    </div>

    <div class="clr-row">
      <div class="column clr-col">
        <h2>Dati Personali</h2>

        <div class="form_group">
            <label>* Nome</label>
            <input type="text" formControlName="nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.nome.errors">
          <alert-message *ngIf="f.nome.errors.required" msg="Il campo 'Nome' è obbligatorio"></alert-message>
        </div>

        <div class="form_group">
          <label>* Cognome</label>
          <input type="text" formControlName="cognome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cognome.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.cognome.errors">
          <alert-message *ngIf="f.cognome.errors.required" msg="Il campo 'Cognome' è obbligatorio"></alert-message>
        </div>

        <div class="form_group">
          <label>* Sesso</label>
          <div class="clr-control-container clr-control-inline">
            <clr-radio-container clrInline>
              <clr-radio-wrapper>
                <input clrRadio type="radio" id="sex-radio1" formControlName="sesso" value="true" class="clr-radio" [checked]="show_sex">
                <label for="sex-radio1" class="clr-control-label">M</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input clrRadio type="radio" id="sex-radio2" formControlName="sesso" value="false" class="clr-radio" [checked]="!show_sex">
                <label for="sex-radio2" class="clr-control-label">F</label>
              </clr-radio-wrapper>
            </clr-radio-container>
            <div class="clr-subtext-wrapper">
              <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
            </div>
          </div>
          <div class="errors" *ngIf="submitted && f.sesso.errors">
            <alert-message *ngIf="f.sesso.errors.required" msg="Il campo 'Sesso' è obbligatorio"></alert-message>
          </div>
        </div>

        <div class="form_group">
          <label>* Età</label>
          <input type="number" formControlName="eta" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.eta.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.eta.errors">
          <alert-message *ngIf="f.eta.errors.required" msg="Il campo 'Età' è obbligatorio"></alert-message>
          <alert-message *ngIf="!f.eta.errors.required" msg="Devi inserire un'età di almeno 10 anni"></alert-message>
        </div>

        <div class="form_group">
          <label>* Luogo di nascita</label>
          <input type="text" formControlName="luogonascita" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.luogonascita.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.luogonascita.errors">
          <alert-message *ngIf="f.luogonascita.errors.required" msg="Il campo 'Luogo di nascita' è obbligatorio"></alert-message>
        </div>

        <div class="form_group">
          <label>* Professione</label>
          <input type="text" formControlName="professione" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.professione.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.professione.errors">
          <alert-message *ngIf="f.professione.errors.required" msg="Il campo 'Professione' è obbligatorio"></alert-message>
        </div>
      </div>


      <div class="column clr-col">
        <h2>Dati Clinici</h2>

        <div class="form_group">
          <label>* Lateralità</label>
          <div class="clr-control-container clr-control-inline">

            <clr-radio-container clrInline>
              <clr-radio-wrapper>
                <input clrRadio type="radio" id="lat-radio2" formControlName="lateralita" value="l" class="clr-radio" [checked]="left_handed">
                <label for="lat-radio2" class="clr-control-label">SX</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input clrRadio type="radio" id="lat-radio1" formControlName="lateralita" value="r" class="clr-radio" [checked]="right_handed">
                <label for="lat-radio1" class="clr-control-label">DX</label>
              </clr-radio-wrapper>
              <clr-radio-wrapper>
                <input clrRadio type="radio" id="lat-radio3" formControlName="lateralita" value="b" class="clr-radio" [checked]="both_handed">
                <label for="lat-radio3" class="clr-control-label">Ambi</label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </div>
          <div class="errors" *ngIf="submitted && f.lateralita.errors">
            <alert-message *ngIf="f.lateralita.errors.required" msg="Il campo 'Lateralità' è obbligatorio"></alert-message>
          </div>
        </div>

        <div class="form_group">
          <label>Lingua principale</label>
          <input type="text" formControlName="lingua" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lingua.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.lingua.errors">
          <alert-message *ngIf="f.lingua.errors.required" msg="Il campo 'Lingua' è obbligatorio"></alert-message>
        </div>

        <div class="form_group">
          <label>* Scolarità</label>
          <input type="number" max="30" formControlName="scolarita" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.scolarita.errors }" />
        </div>
        <div class="errors" *ngIf="submitted && f.scolarita.errors">
          <alert-message *ngIf="f.scolarita.errors.required" msg="Il campo 'Scolarità' è obbligatorio"></alert-message>
        </div>

        <div class="form_group">
          <label>* Diagnosi</label>
          <div>
            <clr-select-container>
              <label></label>
              <select clrSelect formControlName="diagnosi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.diagnosi.errors }" >
                <option value="Nessun disturbo" > Nessun disturbo </option>
                <option value="Disturbo dello Spettro Autistico" > Disturbo dello Spettro Autistico </option>
                <option value="Malattia di Alzheimer" > Malattia di Alzheimer </option>
                <option value="Malattia di Parkinson" > Malattia di Parkinson </option>
                <option value="Schizofrenia" > Schizofrenia </option>
                <option value="Sclerosi Laterale Amiotrofica" > Sclerosi Laterale Amiotrofica </option>
                <option value="Trauma cranico" > Trauma cranico </option>
                <option value="Non nota" > Non nota </option>
                <option value="Altro... (da riportare in &quot;Note&quot;)"> Altro... (da riportare in "Note") </option>
              </select>
            </clr-select-container>
          </div>
        </div>
        <div class="errors" *ngIf="submitted && f.diagnosi.errors">
          <alert-message *ngIf="f.diagnosi.errors.required" msg="Il campo 'Diagnosi' è obbligatorio"></alert-message>
        </div>
      </div>


      <div class="column clr-col">
        <h2>Note</h2>
        Altre informazioni
        <textarea formControlName="altro" id="altro" ></textarea>
      </div>
    </div>
    <div style="text-align: right">
      <!--
        <button type="button" (click)="save_patient = true" class="btn btn-primary" [disabled]="!this.patientForm.valid">
        -->
        <button type="button" (click)="save_patient = true; submitted=true" class="btn btn-primary">
        <clr-icon shape="floppy"></clr-icon> Salva dati
      </button>
    </div>
</form>

<clr-modal [(clrModalOpen)]="save_patient" >
    <h3 class="modal-title">Attenzione</h3>
    <div class="modal-body">
        <p *ngIf="this.patientForm.valid">Stai per salvare i dati anagrafici relativi a questo paziente. Sei sicuro?</p>
        <p *ngIf="!this.patientForm.valid">Il form contiene degli errori. Prima di poter salvare assicurati che tutti i campi siano corretti.</p>

    </div>
    <div class="modal-footer">
        <button *ngIf="!this.patientForm.valid" type="button" class="btn btn-outline" (click)="save_patient = false">Torna al form</button>
        <button *ngIf="this.patientForm.valid" type="button" class="btn btn-outline" (click)="save_patient = false">Annulla</button>
        <button *ngIf="this.patientForm.valid" type="button" class="btn btn-primary" (click)="onSubmit(); save_patient = false">
          <clr-icon shape="floppy"></clr-icon> Si, salva i dati
        </button>
    </div>
</clr-modal>