<div class="clr clr-col-12">
  <app-recording></app-recording>
</div>
<div class="clr clr-col-12 clr-col-lg-3" style="display: inline-block; vertical-align: top;">
  <app-user-component></app-user-component>
</div>
<div class="clr clr-col-12 clr-col-lg-9" style="display: inline-block; vertical-align: top;">
  
  <div class="card">
    <div class="card-block">
        <h4 class="card-title">Valutazioni</h4>
        <p class="card-text">
          Da qui puoi gestire e visualizzare vecchie valutazioni, oppure crearne una nuova.
        </p>
        <p class="card-text">
          Puoi ordinare i risultati per colonna cliccando sulla relativa intestazione, oppure filtrarli con l'icona <strong><clr-icon shape="filter"></clr-icon></strong>.
        </p>
    </div>
    <div class="card-block">
      <app-exam-list-view></app-exam-list-view>
    </div>
  </div>
</div>



