.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #6ab1c7;
    overflow: hidden;
    transition: 0.5s ease;
    padding-top: 60px;
	white-space: nowrap;
	overflow: hidden;
	color: white;
}

.sidebar-header {
	margin-left: 2em;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #b8d4dd;
    display: block;
    transition: 0.3s ease;
}

.sidenav a:hover {
    color: #485862;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#top-bar {
	background-color: #215b7a;
	color: white;
}

#sidenav-external {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
    transition: 0.5s ease;
}

.active a {
	color: #eee;
}

#sidebarCollapse {
	padding: 1.5em;
}